[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sjakal
[access "refs/for/refs/*"]
	read = group user/sjakal
	push = group user/sjakal
	label-Code-Review = -2..+2 group user/sjakal
	label-Verified = -1..+1 group user/sjakal
	rebase = group user/sjakal
	removeReviewer = group user/sjakal
	submit = group user/sjakal
[access "refs/heads/*"]
	read = group user/sjakal
	create = group user/sjakal
	push = +force group user/sjakal
	pushMerge = group user/sjakal
[access "refs/tags/*"]
	push = +force group user/sjakal
	pushTag = group user/sjakal
	pushSignedTag = group user/sjakal
